# Frontend should only know your ERP backend URL.
# Do not add EasyParcel API keys here.
VITE_API_BASE_URL=https://grozziieget.zjweiting.com:8035/api/v1/
VITE_ORDER_PLATFORM_BASE_URL=https://grozziie.zjweiting.com:3091/
VITE_PDF_MERGE_BASE_URL=https://grozziieget.zjweiting.com:8033
